<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessFreak:contact</title>
    style
        include ../static/style.css
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">FitnessFreak</a></li> 
                <li><a href="/">Home</a></li> 
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li> 
        </nav>
    </header>
    <main class="form">
        <h2>Please Fill up this form</h2>
        <form action="/contact" method="post">
            <input type="text" name="name" id="" placeholder="Name"> 
            <input type="text" name="age" id="" placeholder="age"> 
            <input type="text" name="gender" id="" placeholder="gender"> 
            <input type="text" name="address" id="" placeholder="address"> 
            <input type="text" name="email" id="" placeholder="email">
            <button>Submit</button>
        </form>
    </main>
    <!-- <footer>
        <h3>Copyright:All rights reserved</h3>
    </footer> -->
</body>
</html>