<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessFreak:Home</title>
    style
        include ../static/style.css
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">FitnessFreak</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <div class="text">
                <h1>Welcome to FitnessFreak</h1>
                <h1>India's Largest gym studio</h1>
            </div>
            <div class="motives">
                <div class="one">
                    <p>Personal training and fitness</p>
                </div>
                <div class="two">
                    <p>Hosting fitness events and challenges</p>
                </div>
                <div class="three">
                    <pH>health and welness education</pH
                </div>
            </div>
        </main>
        <footer>
            <h3>Copyright:All rights reserved</h3>
        </footer>
</body>
</html>